.background {
  background-color: white;
}

.background-dark {
  background-color: #323232;
}

.openmodal {
  background-color: #4a4ae9;
  color: white;
  border: none;
  font-size: 30px;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
}

.openmodal-dark {
  background-color: #100f2e;
  color: #323232;
  border: none;
  font-size: 30px;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
}

.surveybox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 450px;
  background-color: white;
  margin-left: 500px;
  padding: 40px;
  border-radius: 5px;
}

.surveybox-none {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 450px;
  background-color: white;
  margin-left: 500px;
  padding: 40px;
  border-radius: 5px;
}

.nobutton {
  margin-top: 40px;
  background-color: #ea5c5c;
  box-shadow: 3px 3px 3px gray;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  font-size: 20px;
}
